body {
    font-family: "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

* {
    box-sizing: border-box;
}

/*
------------------ Menu
*/
nav {
    background-color:#333333;   
    
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 44px;
}

li {
    margin-left: 10px;
    font-size: 12px;
    letter-spacing: -0.12px;
    color: #ffffffb2;
    transition:color .5s;
}

li:hover {
   
    color: #ffffff;
}



/*
----------------- media query
*/

@media screen and (max-width: 830px) {
    .openNav {
        display:none;
    }
    .asideCenter {
        display:flex;
        flex-direction: row;
        justify-content: space-between;

    }

}

@media screen and (min-width: 831px) {
    .openAside {
        display:none;
    } 

}